@keyframes fade-in-out {
  0%   { opacity: 0; }
  10%   { opacity: 1; }
  90%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes scale {
  0% {
      transform: scale(0);
      transform-origin: 50% 50%;
  }
  50% {
      transform: scale(1);
      transform-origin: 50% 50%;
  }
  100% {
      opacity:0;
  }
}  

.fade {
  animation: fade-in-out 5s linear 1 forwards;
}

.fade2 {
  animation: scale 5s ease-in-out 1 forwards;
}

.box {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.rotate {
  transition: transform;
}

.rotate:hover {
  transform: rotate(45deg);
}

.ratings__inner {
  margin-left: 16px;
}

/* ratings */
@keyframes fade-in-out {
  0%   { opacity: 0; }
  4%   { opacity: 1; }
  96%   { opacity: 1; }
  100% { opacity: 0; }
}

.ratings {
  font-size: 40px;
  line-height: normal;
  letter-spacing: 1px;
}

.ratings.fade {
  animation: fade-in-out 9.7s linear 1 forwards;
}

/* sub-ratings text */
@keyframes sub-ratings-text-fade {
  0%, 10%, 78%, 100%  { 
    transform: translateX(-100%);
    transition-timing-function: ease-in;
    /* overflow: hidden; */
  }
  19%, 70%  { 
    transition-timing-function: ease-out;
    transform: translateX(0);
    /* overflow: hidden; */
  }
}

.sub-ratings-text.fade {
  animation: sub-ratings-text-fade 9.7s linear 1 forwards;
}

.sub-ratings {
  width: 400px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: normal;
  padding-left: 16px;
  overflow: hidden;
  /* opacity: 0; */ /* added */
}

/* .sub-ratings-text {
  overflow: hidden;
} */

/* .sub-ratings .sub-ratings-text {
  transform: translateX(-130%);
  transition-timing-function: ease-in;
  transition: 0.8s;
}
.sub-ratings.show-text .sub-ratings-text {
  transition: 0.8s;
  transition-delay: 1s;
  transition-timing-function: ease-out;
  transform: translateX(0);
  opacity: 1;
}

.sub-ratings {
  width: 400px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: normal;
  padding-left: 16px;
  overflow: hidden;
}

.sub-ratings-text {
  opacity: 0;
  overflow: hidden;
} */

/* sub-ratings line */
@keyframes sub-ratings-line-fade {
  0%, 4%, 88%, 100%  { 
    transform: translateY(100%);
    transition-timing-function: ease-in;
  }
  8%, 84%  { 
    transform: translateY(0);
    transition-timing-function: ease-out;
  }
}

/* .sub-ratings-line .sub-ratings-line-style {
  transform: translateY(130%);
  transition-timing-function: ease-in;
  transition: 0.4s;
}
.sub-ratings-line.show-line .sub-ratings-line-style {
  transition: 0.4s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
  transform: translateY(0);
  opacity: 1;
} */

.sub-ratings-line-style.fade {
  animation: sub-ratings-line-fade 9.7s linear 1 forwards;
}

.sub-ratings-line {
  padding-right: 16px;
  overflow: hidden;
  display: flex;
}

.sub-ratings-line-style {
  align-items: stretch;
  border-left: solid 1px black;
  /* opacity: 0; */
}
